<section class="container">
  <section class="logo-box" style="height: 25%">
    <img src="assets/img/logo.PNG" alt="">
  </section>
  <main class="sign-up-box" >
    <form>
      <ion-list>
        <ion-item>
          <ion-input placeholder="Full Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Password"></ion-input>
        </ion-item>
      </ion-list>
      
      <div class="sign-up-box-form-footer">
        <div>
          <span>By signing up, you agree to our </span>
          <a href="">Terms & Conditions</a>
        </div>

        <button ion-button>Default</button>

        <button ion-button color="secondary">Secondary</button>

        <button ion-button color="danger">Danger</button>

        <button ion-button color="light">Light</button>

        <button ion-button color="dark">Dark</button>

      <span>Already have an account? </span>
      <a href="">Sign in</a>

      </div>
    </form>
  </main>
</section>