// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$color-primary: #516395;
$color-secondary: #ececec;

*{
  font-family: 'Ubuntu', sans-serif;
  //font-size: 16px;
}

.border1{
  border: 1px solid red;
}

.w-100{
  width: 100%;
}

.font-small{
  font-size: 13px;
}